langchain==0.2.0
langchain-community==0.2.0
langchain-huggingface==0.0.3
langchain-google-genai==1.0.7
google-generativeai==0.8.0
faiss-cpu==1.9.0.post1
sentence-transformers==3.0.0
fastapi==0.115.0
uvicorn==0.30.0
streamlit==1.38.0
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
pandas==2.1.4
numpy==1.26.0
xarray==2024.7.0
fuzzywuzzy==0.18.0
python-dotenv==1.0.0
loguru==0.7.2
slowapi==0.1.9